body {
    font-family: Arial,sans-serif;
	margin: 5px 15px 5px 15px;
	padding: 5em;
	color: #3A3A3A;
	width: 1024px;
}

body p {
	line-height: 150%;
	font-size: 14pt;
}

h1, h2, h3, h4, h5 {
    position: relative;
    color: #106931;
}

a:hover {
	color: #156932;
}

a {
	color: #027AC6;
	text-decoration: none;
}

a.toc-top-link {
    background: none repeat scroll 0 0 #EEEEEE;
    font-size: 12pt;
    left: 0px;
    padding: 4px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.toc-top-link {
    visibility: hidden;
}

ol {
    list-style: decimal outside none;
}

ol ol {
    list-style: none outside none;
}

pre {
 background: url("../image/pre_bg.gif") repeat scroll left top #FFFFFF;
    border: 1px solid #999999;
    color: #000000;
    display: block;
    font-size: small;
    font-size: 13px;
    line-height: 18px;
    margin: 10px 0 20px;
    overflow-x: none;
    overflow-y: none;
    padding: 18px 10px 17px;
    position: relative; 
}

pre code {
	margin: 0 0 0 10px;  /*--Left Margin--*/
	display: block;
}

.manual-title {
    font-size:2em;
    font-weight: bold;
    color: #106931;
}

.manual-title .version {
    font-size: 20px;
    font-weight: normal;
	margin-top: 0.5em
}

#toc {
	float: right;
	width: 20em;
	margin-right: -25em;
	background: #EEE;
	border: 1px solid lightgray;
	font-size: 10pt;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

@media print {
	body {
		color: black;
	}

	#toc {
		visibility: hidden;
	}
}


.deployed-matrix
{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid #333;
  width: 100%;
  color: #000;
}

.deployed-matrix ul {
	padding-left: 1.2em;
}


.deployed-matrix .borderless-bottom {
    border-bottom : none;
    text-align: center;
    vertical-align: bottom;
}

.deployed-matrix .borderless-top {
    border-top : none;
}


.deployed-matrix th
{
  background-color: #006600;
  color: #fff;
  border: 1px solid #000;
  padding: 0.8em;
  text-align: center;
  font-size: 1em;
}

.deployed-matrix td
{
  border: 1px dotted #666;
  padding: 0.8em;
  font-size: 0.9em;
  text-align: left;
  vertical-align: top;
}

.deployed-matrix th[scope=col]
{
  color: #000;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

.deployed-matrix th+th[scope=col]
{
  color: #fff;
  border-right: 1px dotted #666;
}

.deployed-matrix th[scope=row]
{
  border-right: 1px solid #333;
}

