<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script type="text/javascript" charset="utf-8"></script>
<link type="text/css" rel="stylesheet" media="all" href="/css/layout.css" />

<title>{{ page.title }}</title> 
</head>
<body id="top-toc">
<div id="page"><!-- main page start -->
<div id="Main_container"><!--main container start here-->
  
<div id="header"><!--header start here-->
 
	<div id="top_Subnav" style="height:78px;">
	</div>
	<div class="cleardiv"></div>

	<div id="menubar"><!--Navigation start here-->
	<span class="logo"><img src="/images/logo.png" alt="Home" border="0" /></span>
   </div>

</div>  <!--header ends here-->
<div class="cleardiv"></div>
<div id="main_white_bg" style="min-height:400px;"><!-- main content start -->
<div class="top_left_corner"></div>
<div class="top_right_corner"></div>

<div class="rightcol"><!--right column start here-->
</div><!--right column ends here-->

<div class="leftcol"><!--left column start here-->
{{ content }}
</div><!--left column ends here-->
<div class="cleardiv"></div>
<div class="push"></div>
</div>  <!-- main content Ends -->
</div><!--main container start here-->
<div class="cleardiv"></div>
<div class="footer"><!--footer section Start here-->
<div class="footerbottom">
<div id="block-block-5" class="clear-block block block-block first">
  <div class="content">
    <div>
	<span class="footer-msg">Copyright XebiaLabs B.V.  2009-2012. All rights reserved.</span>
	</div>
	</div>
</div>
</div>
</div><!--footer section ends here-->

</div><!-- main page ends -->
</body>
</html>
